@brandBackground: #1c1300;
@brandColor: #FFFFFF;

.transition (@property, @duration) {
	-webkit-transition: @property @duration;
	-moz-transition: @property @duration;
	-ms-transition: @property @duration;
	-o-transition: @property @duration;
	transition: @property @duration;
}

*, .btn, .form-control  {
	font: 11px Arial;
}
.form-control {
	height: 24px;
	border-radius: 0;
	padding: 3px 6px;
}
.input-group-addon {
	padding: 4px 8px;
	border-radius: 0;
	border-left: 0;
}
a, a:hover {
	color: #000;
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.img-responsive {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.center-block {
	width: inherit;
	height: inherit;
	display: table-cell;
	vertical-align: middle;
}
.bottom-block {
	width: inherit;
	height: inherit;
	display: table-cell;
	vertical-align: bottom;
}
.center-text {
	text-align: center;
}
.wrapper-close {
	position: relative;
}
.btn-close {
	font-size: 12px;
	display: block;
	float: right;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: #fff;
	background: @brandBackground;
	position: absolute;
	top: 3px;
	right: 3px;
}
.mt10 {
	margin-top: 10px;
}
.shadow {
	width: inherit;
	height: inherit;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	.transition(opacity, 3s);
}

.ad-builder-container {
	margin-top: 20px;
	border: 1px solid #D3D3D3;
	.toolbar {
		background: #F5F5F5;
		border-bottom: 1px solid #D3D3D3;
		height: 32px;
		line-height: 32px;
	}
	.col-left {
		padding: 15px;
		border-right: 1px solid #D3D3D3;
		.custom-form {
			.form-group {
				border-top: 1px solid #EBEBEB;
				padding-top: 15px;
				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
				.img-preview-wrapper {
					.preview {
						background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAHOZmaOAAAABGdBTUEAALGPC/xhBQAAAAxQTFRFxcXFyMjIzMzM////kMJdxgAAACZJREFUCB1jPMDowFjA+ACIvzGuZ/wFhP6M8xn/ZzP+F2NcGQZEAMNbC9Qq94O+AAAAAElFTkSuQmCC');
						background-repeat: repeat;
						background-size: contain;
						width: 60px;
						height: 50px;
						border: 2px solid gray;
						float: left;
						margin-right: 15px;
					}
				}
			}
			ul.tab-product-list {
				border: 1px solid #ddd;
				li {
					padding: 0;
					a {
						padding-top: 5px;
						padding-bottom: 5px;
						margin-right: 0;
						border-left: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						border-top: 0;
						border-radius: 0;
					}
					&:first-child {
						a {
							border-left: 0;
						}
					}
					&.active {
						a {
							border-right: 0;
							background: #F5F5F5;
							font-weight: bold;
						}
					}
				}
			}
			.tab-product-list-content {
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 5px 10px;
				.form-group {
					border-top: 0;
					padding-top: 0;
				}
			}
			.change-font {
				position: relative; 
				z-index: 1;
				.fonts-list {
					position: absolute; 
					z-index: 1; 
					top: 22px; 
					left: -1px; 
					background: #fff; 
					border: 1px solid #ccc;
					text-align: left;
					display: none;
					&.active {
						display: block;
					}
					.font-item {
						padding: 3px 7px;
					}
				}
			}
		}
	}
	.col-main {
		.title {
			border-bottom: 1px solid #D3D3D3;
			height: 42px;
			line-height: 42px;
		}
		.select-area {
			padding-top: 7px;
			padding-bottom: 7px;
			border-bottom: 1px solid #D3D3D3;
			.form-group {
				margin-right: 30px;
				label {
					margin-right: 5px; 
				}
			}
		}
	}
}

.ad-item {
	float: left;
	margin: 10px;
	.price, .action {
		font-weight: bold;
	}
	
	.ad-wrapper {
		display: block;
		box-sizing:border-box;
		border-left-width: 5px;
		border-right-width: 5px;
		border-top-width: 0px;
		border-bottom-width: 10px;
		border-color: @brandBackground;
		border-style: solid;
		.brand {
			background: @brandBackground;
			color: @brandColor;
			font-weight: bold;
			text-align: center;
		}
		.content {

		}
		ul.products-list {
			li.product-item {
				float: left;
			}
		}
		&.ad_120_600 {
			width: 120px;
			height: 600px;
			.brand {
				height: 55px;
				line-height: 55px;
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 110px;
							height: 178px;
							border-top: 5px solid @brandBackground;
							position: relative;
							&.first {
								border-top: 0;
							}
							.image {
								width: inherit;
								height: inherit;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 0;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
								.desc {
									margin-bottom: 10px;
									max-height: 42px;
									overflow: hidden;
								}
								.price {
									margin-bottom: 5px;
								}
							}
							&:hover {
								.info {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 110px;
							height: 178px;
							border-bottom: 2px solid @brandBackground;
							&.last {
								border-bottom: 0;
							}
							.image {
								width: 110px;
								height: 175px;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: 110px;
								height: 535px;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								display: none;
								&.show {
									position: absolute;
									z-index: 10;
									top: 0;
									left: 0;
									background: #fff;
									display: block;
									padding: 0;
					 				.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: 110px;
											height: 346px;
											border-bottom: 2px solid @brandBackground;
											img {
												padding-bottom: 5px;
											}
										}
										.info-desc {
											width: 110px;
											height: 178px;
											padding: 5px;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				
			}
			&.ad-multiple {
				
			}
		}
		&.ad_160_600 {
			width: 160px;
			height: 600px;
			.brand {
				height: 65px;
				line-height: 65px;
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 150px;
							height: 260px;
							border-top: 5px solid @brandBackground;
							position: relative;
							&.first {
								border-top: 0;
							}
							.image {
								width: inherit;
								height: inherit;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 0;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
								.desc {
									margin-bottom: 10px;
									max-height: 42px;
									overflow: hidden;
								}
								.price {
									margin-bottom: 5px;
								}
							}
							&:hover {
								.info {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 150px;
							height: 175px;
							border-bottom: 2px solid @brandBackground;
							&.last {
								border-bottom: 0;
							}
							.image {
								width: 150px;
								height: 172px;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: 150px;
								height: 525px;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								display: none;
								&.show {
									position: absolute;
									z-index: 10;
									top: 0;
									left: 0;
									background: #fff;
									display: block;
									padding: 0;
					 				.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: 150px;
											height: 346px;
											border-bottom: 2px solid @brandBackground;
											img {
												padding-bottom: 5px;
											}
										}
										.info-desc {
											width: 150px;
											height: 175px;
											padding: 5px;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				
			}
			&.ad-multiple {
				
			}
		}
		&.ad_300_250 {
			width: 300px;
			height: 250px;
			.brand {
				height: 45px;
				line-height: 45px;
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 144px;
							height: 195px;
							border-left: 2px solid @brandBackground;
							position: relative;
							&.first {
								border-left: 0;
							}
							.image {
								width: inherit;
								height: inherit;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 0;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
							}
							&:hover {
								.info {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 290px;
							height: 195px;
							
							display: none;
							&.show {
								display: block;
							}
							.image {
								display: block;
								width: 145px;
								height: 195px;
								float: left;
								border: 1px solid @brandBackground;
							}
							.info {
								display: block;
								width: 145px;
								height: 195px;
								float: left;
								background: #fff;
								padding: 0 5px;
								border: 1px solid @brandBackground;
								
							}
						}
					}
					.navigator {
						position: absolute;
						top: 10px;
						right: 45px;
						.btn-nav {
							display: block;
							float: left;
							padding: 0 7px;
							i {
								font-size: 30px;
								font-weight: bold;
							}
						}
					}
				}
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 145px;
							height: 98px;
							border: 1px solid @brandBackground;
							.image {
								width: 143px;
								height: 96px;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								display: none;
								&.show {
									position: absolute;
									z-index: 10;
									top: 0;
									left: 0;
									background: #fff;
									display: block;
									width: 290px;
									height: 195px;
									padding: 0;
									.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: 144px;
											height: inherit;
											float: left;
										}
										.info-desc {
											width: 144px;
											height: inherit;
											padding: 5px;
											float: left;
											border-left: 2px solid @brandBackground;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				.content {
					position: relative;
					width: 290px;
					height: 195px;
					ul.products-list {
						width: 145px;
						height: 98px;
						position: absolute;
						right: 0;
						bottom: 0;
						li.product-item {
							width: 48px;
							height: 98px;
							border: 1px solid @brandBackground;
							position: relative;
							.image {
								width: 45px;
								height: 94px;
							}
							&.last {
								border-right: 0;
							}
							&.show {
								.shadow {
									opacity: 0;	
								}
							}
						}
					}
					ul.products-list-info {
						li.product-item {
							.info-image {
								width: 145px;
								height: 195px;
								float: left;
								border: 1px solid @brandBackground;
								display: none;
							}
							.info-desc {
								width: 145px;
								height: 97px;
								float: left;
								border: 1px solid @brandBackground;
								border-right: 0;	
								display: none;
								padding: 0 5px;
							}

							&.show {
								.info-image {
									display: block;
								}
								.info-desc {
									display: block;
								}
							}
						}
					}
				}
			}
			&.ad_multiple {
				.content {
					position: relative;
					width: 290px;
					height: 195px;
					ul.products-list {
						width: 145px;
						height: 98px;
						position: absolute;
						right: 0;
						bottom: 0;
						li.product-item {
							width: 48px;
							height: 98px;
							border: 1px solid @brandBackground;
							position: relative;
							.image {
								width: 45px;
								height: 94px;
							}
							&.last {
								border-right: 0;
							}
							&.show {
								.shadow {
									opacity: 0;	
								}
							}
						}
					}
					ul.products-list-info {
						li.product-item {
							.info-image {
								width: 145px;
								height: 195px;
								float: left;
								border: 1px solid @brandBackground;
								display: none;
							}
							.info-desc {
								width: 145px;
								height: 97px;
								float: left;
								border: 1px solid @brandBackground;
								border-right: 0;	
								display: none;
								padding: 0 5px;
							}

							&.show {
								.info-image {
									display: block;
								}
								.info-desc {
									display: block;
								}
							}
						}
					}
				}
			}
		}
		&.ad_728_90 {
			width: 728px;
			height: 90px;
			border-left-width: 0;
			border-top-width: 5px;
			border-bottom-width: 5px;
			.brand {
				width: 195px;
				line-height: 80px;
				float: left;
			}
			.content {
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 255px;
							height: 80px;
							border-left: 5px solid @brandBackground;
							position: relative;
							&.first {
								border-left: 0;
							}
							.image {
								width: inherit;
								height: inherit;
								
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 1;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
								.desc {
									margin-bottom: 10px;
									max-height: 42px;
									overflow: hidden;
								}
								.price {
									margin-bottom: 5px;
								}
							}
							&:hover {
								.info {
									opacity: 0;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 132px;
							height: 80px;
							border: 1px solid @brandBackground;
							.image {
								width: 130px;
								height: 78px;
							}
							.info {
								position: absolute;
								z-index: 10;
								top: 0;
								right: 0;
								background: #fff;
								padding: 0 5px;
								width: 528px;
								height: 80px;
								padding: 0;
								display: none;
								&.show {
									display: block;
									.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: 264px;
											height: inherit;
											float: left;
											border: 1px solid @brandBackground;
											img {
												max-height: 98%;
												float: right;
												padding-right: 30px;
											}
										}
										.info-desc {
											width: 264px;
											height: inherit;
											padding: 0px 20px;
											float: left;
											border: 1px solid @brandBackground;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				
			}
			&.ad-multiple {
				
			}
		}
		&.ad_300_600 {
			width: 300px;
			height: 600px;
			.brand {
				height: 60px;
				line-height: 60px;
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 290px;
							height: 260px;
							border-top: 5px solid @brandBackground;
							position: relative;
							&.first {
								border-top: 0;
							}
							.image {
								width: inherit;
								height: inherit;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 0;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
								.desc {
									margin-bottom: 10px;
									max-height: 42px;
									overflow: hidden;
								}
								.price {
									margin-bottom: 5px;
								}
							}
							&:hover {
								.info {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 145px;
							height: 265px;
							border: 1px solid @brandBackground;
							.image {
								width: 143px;
								height: 263px;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: 290px;
								height: 530px;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								display: none;
								&.show {
									position: absolute;
									z-index: 10;
									top: 0;
									left: 0;
									background: #fff;
									display: block;
									padding: 0;
					 				.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: inherit;
											height: 405px;
											border-bottom: 2px solid @brandBackground;
											img {
												padding-bottom: 5px;
											}
										}
										.info-desc {
											width: inherit;
											height: 125px;
											padding: 5px 30px;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				
			}
			&.ad_multiple {
				
			}
		}
		&.ad_336_280 {
			width: 336px;
			height: 280px;
			.brand {
				height: 45px;
				line-height: 45px;
			}
			&.ad_neutral {
				.content {
					ul.products-list {
						li.product-item {
							width: 162px;
							height: 225px;
							border-left: 2px solid @brandBackground;
							position: relative;
							&.first {
								border-left: 0;
							}
							.image {
								width: inherit;
								height: inherit;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								opacity: 0;
								transition: opacity 0.5s;
								-webkit-transition: opacity 0.5s;
							}
							&:hover {
								.info {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			&.ad_slideshow {
				
			}
			&.ad_carrousel {
				
			}
			&.ad_mosaic {
				.content {
					position: relative;
					ul.products-list {
						li.product-item {
							width: 163px;
							height: 113px;
							border: 1px solid @brandBackground;
							.image {
								width: 143px;
								height: 96px;
							}
							.info {
								position: absolute;
								top: 0;
								left: 0;
								width: inherit;
								height: inherit;
								background: rgba(255,255,255,0.6);
								padding: 0 5px;
								display: none;
								&.show {
									position: absolute;
									z-index: 10;
									top: 0;
									left: 0;
									background: #fff;
									display: block;
									width: 325px;
									height: 225px;
									padding: 0;
									.wrapper {
										display: block;
										width: inherit;
										height: inherit;
										.info-image {
											width: 162px;
											height: inherit;
											float: left;
											border: 1px solid @brandBackground;
										}
										.info-desc {
											width: 163px;
											height: inherit;
											padding: 5px;
											float: left;
											border: 1px solid @brandBackground;
										}
									}
								}
							}
						}
					}
				}
			}
			&.ad_showcase {
				
			}
			&.ad_zoom {
				
			}
			&.ad-multiple {
				
			}
		}
	}
}